﻿@*@model IEnumerable<EFCodeFirstApproach.Models.Operation>*@
    @using EFCodeFirstApproach.Models;
    @using PagedList;
    @using PagedList.Mvc;
    @model PagedList.IPagedList<Operation>

@{
    ViewBag.Title = "Index";
}
<link href="~/Content/PagedList.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">

@*<h2>Index</h2>*@
@Html.Raw(TempData["DeleteMessage"])
@Html.Raw(TempData["UpdateMessage"])
@*@Html.Raw(TempData["InsertMessage"])*@
<p style="color:green;">@TempData["InsertMessage"]</p>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table style="width:1000px;">
    <tr>
        <th>
            ProductId
        </th>
        <th>
            ProductName
        </th>
        <th>
            CategoryId
        </th>
        <th>
            CategoryName
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ProductId }) |
                @*@Html.ActionLink("Details", "Details", new { id = item.ProductId }) |*@
                @Html.ActionLink("Delete", "Delete", new { id = item.ProductId })
            </td>
        </tr>
    }

</table>
<div></div>
Page @(Model.PageCount<Model.PageNumber?0:Model.PageNumber)/@Model.PageCount
<div>
    @Html.PagedListPager(Model, Page => Url.Action("Index", new {page=Page}))
</div>
